* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	color:#fff;
	background-color: black;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000000;
	color: #fff;
    position: fixed;
	top: 20px;
	left: 0;
	right: 0;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	width: 80%;
	margin: 0 auto;


}

.nav-img {
	width: 50px;
	padding-right: 20px;
  }
  

.nav-container {
	width: 80%;
	margin: 0 auto; /* center the container */
  }
  

nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
    border-radius: 10px;

}

nav a:hover {
	background-color: #fff;
	color: #333;

}

main {
	margin: 50px;
}

.maincontainer {
	display: flex;
    max-width: 90%;
	margin: 0 auto;
	padding: 50px;

}

.container {
    max-width: 90%;
	margin: 0 auto;
	padding: 50px;
	text-align: center;

}



.left {
	flex-basis: 40%;
	padding-right: 20px;
  }

.right {
	flex-basis: 60%;
}


/*Mobile optimization!*/

@media (max-width: 768px) {
	.container {
	  flex-direction: column;
	}
	.left, .right {
	  flex-basis: 100%;
	}
  }
  

.section {
	padding-top: 50px;
}

h1 {
	font-size: 48px;
	margin-bottom: 20px;
}

h2 {
	font-size: 36px;
	margin-bottom: 20px;
}

p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 20px;
}

button {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
}

button:hover {
	background-color: #fff;
	color: #333;
}



/*Form Formatting!

.form {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  

form {
	width: 80%;
	max-width: 600px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  

form input,
form textarea {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
}

form button[type="submit"] {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
}

form button[type="submit"]:hover {
	background-color: #fff;
	color: #333;
}

*/

form {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  .radio-group label {
	margin-bottom: 10px;
  }
  
  




/* TABLE FORMATTING*/

table {
	border-collapse: collapse;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	background-color: #373737;
	border-radius: 10px;
	overflow: hidden;
  }
  
  th, td {
	padding: 20px;
	text-align: left;
	vertical-align: top;
  }
  
  th {
	text-align: center;
	font-size: larger;
	background-color: #ffffff;
	color: #000;
	font-weight: bold;
  }

  
  

  /*Line spacing on bullet pts*/
  ul li {
	margin-bottom: 10px;

  }



  /* Footer formatting */

  .footer {
	align-content: center;
  }